<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">

                <div class="header__logo">
                    Scotland
                </div>

                <nav class="nav">
                    <a class="nav_link" href="#">About</a>
                    <a class="nav_link" href="#">Glasgow</a>
                    <a class="nav_link" href="#">Edinburgh</a>
                    <a class="nav_link" href="#">Loch Ness</a>
                    <a class="nav_link" href="#">Heriot Watt</a>
                </nav>
            </div>
        </div>

    </header>

    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__sup">Made with Love</h2>
                <h1 class="intro__title">Welcome to Scotland!</h1>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitle">About</h3>
                <h1 class="section__title">What to do in Scotland?</h1>
                <div class="section__text">
                    <p>Think of Scotland, and you'll likely conjure up images of tartan-kilted Highlanders, skirling
                        bagpipes, the Loch Ness Monster, lonely castles, golf, magnificent scenery, and shaggy Highland
                        cattle. All of these are part of the mystique of
                        this unique country, but also (apart from Nessie) a very real preview of what tourists see
                        there.</p>
                </div>
            </div>

            <div class="about">
                <div class="about__item">
                    <div class="about__img">
                        <img class="about-img" src="../../../../../assets/about-1.jpeg" width="300" height="180"
                            alt="about-1">
                    </div>
                </div>
                <div class="about__item">
                    <div class="about__img">
                        <img class="about-img" src="../../../../../assets/about-2.jpeg" width="300" height="180"
                            alt="about-2">
                    </div>
                </div>
                <div class="about__item">
                    <div class="about__img">
                        <img class="about-img" src="../../../../../assets/about-3.jpeg" width="300" height="180"
                            alt="about-3">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitle">Glasgow</h3>
                <h1 class="section__title">What to do in Glasgow?</h1>
                <div class="section__text">
                    <p>is the most populous city in Scotland and the fourth-most populous city in the United Kingdom,
                        as well as being the 27th largest city by population in Europe.In 2020, it had an estimated
                        population of 635,640.
                        Historically part of Lanarkshire, the city now forms the Glasgow City council area, one of the
                        32 council areas of Scotland, and is governed
                        by Glasgow City Council. It is situated on the River Clyde in the country's West Central
                        Lowlands.</p>
                </div>
            </div>

            <div class="glasgow">
                <div class="glasgow__item">
                    <img class="icon" src="../../../../../assets/glasgow/food.png" alt="food">
                    <div class="glasgow_title">Culture</div>
                    <div class="glasgow_text">The city has many amenities for a wide range of cultural activities, from
                        curling to opera and ballet and from football to art appreciation; it also has a large selection
                        of museums that include those devoted to transport, religion, and modern art.
                        Many of the city's cultural sites were celebrated in 1990 when Glasgow was designated European
                        Capital of Culture</div>
                </div>
                <div class="glasgow__item">
                    <img class="icon" src="../../../../../assets/glasgow/hotel.png" alt="hotel">
                    <div class="glasgow_title">Demography</div>
                    <div class="glasgow_text">Glasgow is located on the banks of the River Clyde, in West Central
                        Scotland. Its second most important river is the Kelvin whose name was used in creating the
                        title of Baron Kelvin the renowned physicist and thereby ended up as the SI unit of temperature.
                        On older maps Glasgow is shown within the area of the pre-1975 county of Lanarkshire.</div>
                </div>
                <div class="glasgow__item">
                    <img class="icon" src="../../../../../assets/glasgow/taxi.png" alt="taxi">
                    <div class="glasgow_title">Transport</div>
                    <div class="glasgow_text">Glasgow has a large urban transport system, mostly managed by the
                        Strathclyde Partnership
                        for Transport (SPT).

                        Glasgow Queen Street station is the main connection for rail services to Edinburgh and the
                        Scottish Highlands.
                        The city has many bus services; since bus deregulation almost all are provided by private
                        operators,
                        though SPT part-funds some services.</div>
                </div>

            </div>
            <hr>
            <div class="glasgow">
                <div class="glasgow__item">
                    <img class="icon" src="../../../../../assets/glasgow/sports.png" alt="food">
                    <div class="glasgow_title">Sport</div>
                    <div class="glasgow_text">The world's first international football match was held in 1872 at the
                        West of Scotland Cricket Club's Hamilton Crescent
                        ground in the Partick area of the city. The match, between Scotland and England finished 0–0.
                    </div>
                </div>
                <div class="glasgow__item">
                    <img class="icon" src="../../../../../assets/glasgow/economic.png" alt=" hotel">
                    <div class="glasgow_title">Economy</div>
                    <div class="glasgow_text">Glasgow has the largest economy in Scotland and is at the hub of the
                        metropolitan area of West Central Scotland.
                        Glasgow also has the third highest GDP Per capita of any city in the UK (after London and
                        Edinburgh)</div>
                </div>
                <div class="glasgow__item">
                    <img class="icon" src="../../../../../assets/glasgow/parchment.png" alt="taxi">
                    <div class="glasgow_title">History</div>
                    <div class="glasgow_text">The area around Glasgow has hosted communities for millennia, with the
                        River Clyde providing a natural location for fishing. The Romans later built outposts in the
                        area and, to protect Roman Britannia from the Brittonic speaking (Celtic) Caledonians,
                        constructed the Antonine Wall. Items from the wall,
                        such as altars from Roman forts like Balmuildy, can be found at the Hunterian Museum today.
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="section__header">
                <h3 class="section__suptitle">Edinburgh</h3>
                <h1 class="section__title">What to do in Edinburgh?</h1>
                <div class="section__text">
                    <p> is the capital city of Scotland and one of its 32 council areas. Historically part of the county
                        of Midlothian (interchangeably Edinburghshire before 1921),it is located in Lothian on the
                        southern
                        shore of the Firth of Forth.
                        Edinburgh is Scotland's second-most populous city and the seventh-most populous city in the
                        United Kingdom.</p>
                </div>
            </div>

            <div class="edinburgh">
                <div class="edinburgh__item">
                    <img src="../../../../../assets/edin.jpeg" class="accordion-img" alt="edin">
                </div>
                <div class="edinburgh__item">
                    <div class="accordion">
                        <div class="accordion__item">
                            <div class="accordion__header">
                                <img class="accordion-icon" src="../../../../../assets/icons/photography.png" alt="">
                                <div class="accordion__title">
                                    Capital city
                                </div>
                            </div>
                            <div class="accordion__content">
                                <p>
                                    Recognised as the capital of Scotland since at least the 15th century, Edinburgh is
                                    the
                                    seat of
                                    the Scottish Government, the Scottish Parliament and the highest courts in Scotland.
                                    The
                                    city's Palace of
                                    Holyroodhouse is the official residence of the monarch in Scotland. The city has
                                    long
                                    been a centre of education,
                                    particularly in the fields of medicine, Scots law, literature, philosophy, the
                                    sciences
                                    and engineering. It is the
                                    second-largest financial centre in the United Kingdom, and the city's historical and
                                    cultural attractions have made it
                                    the UK's second-most visited
                                    tourist destination attracting 4.9 million visits, including 2.4 million from
                                    overseas
                                    in 2018
                                </p>
                            </div>
                        </div>
                        <!--accordion__item-->
                        <div class="accordion__item acive">
                            <div class="accordion__header">
                                <img class="accordion-icon" src="../../../../../assets/icons/idea.png" alt="">
                                <div class="accordion__title">
                                    Creativity
                                </div>
                            </div>
                            <div class="accordion__content">
                                <p>
                                    Recognised as the capital of Scotland since at least the 15th century, Edinburgh is
                                    the
                                    seat of
                                    the Scottish Government, the Scottish Parliament and the highest courts in Scotland.
                                    The
                                    city's Palace of
                                    Holyroodhouse is the official residence of the monarch in Scotland. The city has
                                    long
                                    been a centre of education,
                                    particularly in the fields of medicine, Scots law, literature, philosophy, the
                                    sciences
                                    and engineering. It is the
                                    second-largest financial centre in the United Kingdom, and the city's historical and
                                    cultural attractions have made it
                                    the UK's second-most visited
                                    tourist destination attracting 4.9 million visits, including 2.4 million from
                                    overseas
                                    in 2018
                                </p>
                            </div>
                        </div>
                    </div>
                    <!---accordion-->
                </div>
                <!--edinburgh__item -->
            </div>
        </div>
    </section>
</body>